/build/
/daligner
/HPC.daligner
/LAsort
/LAmerge
/LAsplit
/LAcat
/LAshow
/LAcheck
/LAdump
/LAindex

/LA4Falcon
/LA4Ice
/DB2Falcon
/DB.so

*.o
*.so
*.a
*.d
a.out
*.swp

# JetBrains project files
.idea

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak

cmake-build-debug/
